

.type-wrapper {
  width: 800px;
  .content {
    position: relative;
    float: left;
    color: #d7b94c;
    font-family: 'Inconsolata', Consolas, monospace;
    font-size: 3em;
    animation: neon .08s ease-in-out infinite alternate;
    // margin: 0 70px;
    margin-top: 100px;
    white-space: nowrap;
    // .cursor {
    //   position: absolute;
    //   top: 0;
    //   right: 0;
    //   background: black;
      // width: 100%;
      // border-left: .1em solid transparent;
      // -webkit-animation: typing 6s steps(20) infinite,
      //                   // cursor 1s infinite;
      // animation: typing 6s steps(20) infinite,
      //           cursor 1s infinite;
    // }
  }
}
/* Animation */
@-webkit-keyframes typing {
	from { width: 100%;}
	to { width: 0;}
}
@-webkit-keyframes cursor{
	50% { border-color: white;}
}
@keyframes typing {
  0% {
    width: 100%;
  }
  10% {
    width: 100%;
  }
  40% {
    width: 0;
  }
  60% {
    width: 0;
  }
  90% {
    width: 100%;
  }
  100% {
    width: 100%;
  }
}
@keyframes cursor {
	50% { border-color: white;}
}

@keyframes neon {
  from {
    text-shadow:
    0 0 6px rgba(202,228,225,0.92),
    0 0 30px rgba(202,228,225,0.34),
    0 0 12px rgba(30,132,242,0.52),
    0 0 21px rgba(30,132,242,0.92),
    0 0 34px rgba(30,132,242,0.78),
    0 0 54px rgba(30,132,242,0.92);
  }
  to {
    text-shadow:
    0 0 6px rgba(202,228,225,0.98),
    0 0 30px rgba(202,228,225,0.42),
    0 0 12px rgba(30,132,242,0.58),
    0 0 22px rgba(30,132,242,0.84),
    0 0 38px rgba(30,132,242,0.88),
    0 0 60px rgba(30,132,242,1);
  }
}
