.app {
  height: 100vh;
  width: 100vw;
  background: lightblue;
}

header {
  width: 100%;
  height: 5%;
  background: white;
  a {
    margin-right: 10px;
    color: lightskyblue;

    &:hover {
      color: lightblue;
    }
  }
}

main {
  width: 100%;
  height: 90%;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
