.app {
  height: 100vh;
  width: 100vw;
  // background: lightblue;
}

header {
  width: 100%;
  height: 5%;
  background: lightskyblue;
  a {
    margin-right: 10px;
    color: black;
    z-index: 2;

    &:hover {
      color: lightblue;
    }
  }
}

main {
  width: 100%;
  height: 90%;
  overflow: hidden;
}

html {
  font-size: 16px;
}

body {
  font-family: "Vibur", cursive;
  font-size: 1rem;
  background-image: url("https://www.dropbox.com/s/2ct0i6kc61vp0bh/wall.jpg?raw=1");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #141414;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
